/vqVAEGAN/
/old/
/individual_train_scripts/
/bash_scripts/study2/1200/
/bash_scripts/study2/4000/
/bash_scripts/study2/7500/
/bash_scripts/study2/Study2_Subj1.sh
/bash_scripts/study2/Study2_Subj2.sh
/bash_scripts/study2/Study2_Subj3.sh
/bash_scripts/study2/Study2_Subj4.sh
/bash_scripts/study2/Study2_Subj5.sh
/bash_scripts/study2/Study2_Subj6.sh
/bash_scripts/study2/Study2_Subj7.sh
/bash_scripts/study2/Study2_Subj8.sh
/bash_scripts/study2/Study2_Test.sh
/bash_scripts/study1_3mm/
